<section class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <p>
        <img src={~p"/images/conta_logo.png"} />
      </p>
    </div>
  </div>
</section>
