<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Phoenix
      </p>
      <p class="subtitle">
        With Bulma!
      </p>
    </div>
  </div>
</section>
