<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <img src={static_path(@conn, "/images/conta_logo.png")} />
      </p>
    </div>
  </div>
</section>
